body {
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  border: 0;
}

h2 {
  background: black;
  display: inline-block;
  padding: 4px 120px;
  background-color: #74006A;
  color: #EC1BEF;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  margin: 30px auto;
}

a {
  color: #FFF;
  border: 0;
}

a:hover {

}

.month-table {
  padding: 15px;
  position: relative;
  border: 0;
  border:2px solid #fff5;
  border-radius:24px;
}

.month-table td {
  border-color: #fff5;
  padding:0 0 4px 0;
}

.event a {
  color: #fff;
  border: 0;
}

.month-menuitem.active {
  background: #fff;
  color: #4d5a78;
  font-weight: bold;
}

.month-menuitem:hover {
  transform: scale(1.1618);
  background:#fff;
  color:#4d5a78;
  font-weight:bold;
}

.today .day:before {
  content: none;
}

.today .day {
  background: #fff;
  color:#4f5c7a;
  border-radius:0 0 24px 24px;
}
