body {
  color: #333333;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0px;
}

* { -webkit-box-sizing: border-box; }

.month-table {
  margin: 62px auto;
  border: 1px solid #ccefff;
  padding: 10px;
}

h1 { font-size: 40px; border-bottom: 1px solid #999; display: inline-block; }
h2 { display:none !important; }

.month-menuitem {
  font-size: 14px;
  padding: 10px 20px;
  display: inline-block;
  border: 0;
  margin: 0 8px;
  border-radius:24px;
  transition: transform .2s;
}

.month-menuitem.active {
  background: #fff;
  color: #5482ab;
}

a {
  color: #333333;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 2px #CCF4FF solid;
}

a:hover {
  color: #47CCFC;
}

td {
  width: 160px;
  vertical-align: top;
}

.header td {
  padding: 10px;
  border-bottom: 2px solid #e0e0e0;
}

.days td {
  padding: 2px 0;
  height: 100px;
  border-bottom: 2px solid #f0f0f0;
}

.days:last-child td {
  border-bottom: 0;
}

.empty {

}

.event {
  white-space: nowrap;
  padding: 3px;
  height: 23px;
  margin-bottom: 1px;
  max-width: 184px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day {
  font-weight: bold;
  padding: 6px 10px;
  margin-bottom: 5px;
  position: relative;
}

.today .day:before {
  z-index: -1;
  display: block;
  content: "";
  width: 24px; height: 24px;
  background: #36FFA3;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 0;
  border: 0 !important;
}

.past a {

}

.days td:hover .day:before {
  z-index: -1;
  display: block;
  content: "";
  width: 24px; height: 24px;
  border: 1px solid #36FFA3;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 0;
}

.following-days a { font-size: 0; }

.multi-days {
  background: #fff2;
  margin-left: -2px;
  margin-right: -2px;
}

.multi-days a { border: 0; }
.multi-days a:hover { color: #000; }
.month-menuitem.active:hover { transform: scale(1.1618); }
.no-event { color: #fff5; }
